@import "./header.scss";
@import "./carouselHome.scss";
@import url("https://use.typekit.net/tfr2jbe.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
    font-family: muli !important;
    font-weight: 400;
    font-style: normal;
}